@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{background: url('../images/webinar-bg.jpg') no-repeat center top;
  background-attachment: fixed;font-family: 'Montserrat', sans-serif; font-size: 14px; color: #2d2d2d}
.gray-bg{background: #ccc}
.blue-color{color: #3f3e8b}
.gray-color{color: #2d2d2d}
.footer{padding:5px 0;}
.size-14{font-size: 14px}
.size-16{font-size: 16px}
.size-18{font-size: 18px}
.size-20{font-size: 20px}
.size-22{font-size: 22px}



.logout a{
	color: #4d4f50 !important;
    border: 1px solid !important;
    padding: 6px 13px 9px;
}
.form-control{padding-bottom: 5px;}
.input1, .select1, .textarea1{background: 0 !important;border:0 !important;}
.form-control{font-size: 14px}
.input-group{border-bottom:1px solid #ccc;}
.fa{color: #ccc}
.logout span{
	color: #4d4f50 !important;
    padding: 6px 13px 9px;
}
.primary{
	   border: 1px solid #3f3e8b;
    background: #3f3e8b;
    outline: none;
    padding: 4px 15px;
    color: aliceblue;
}
.input, .select, .textarea{
    background: #ff000000;
    border-bottom: 1px solid #b7b7b7;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}


.form-control:focus{
    color: #495057;
    background-color: #fff;
    /* border-color: #80bdff; */
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ff000000 !important;
}


.form-group {
  position: relative;
  margin-bottom: .5rem;
}


.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

/*.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder  {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}*/

.file{}
.file-text{
    color: #777777;
    top: 5px;
    margin: 4px 0;
    font-size: 11px;
}
.dark{
      justify-content: space-between;
    background: #3c3c3c;
    padding: 7px 16px;
    display: flex;
    color: white;
}
.bg-blue{background: #3f3e8b}

.side-bar{
  /*background: #eaeaea;*/
    padding: 0px;
    margin: 0;
}
.menu{
  width: 100%;
}

.menu ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu ul li{
    padding: 8px 26px;
    border-bottom: 1px solid #3e3588;
  }

  .menu ul li a{
    text-decoration: none;
    color: #2d2d2d;
  }

.menu ul li:hover{
    color: #3e3588;
  }

.menu-active{
  color: #3e3588;
    /*background: #f9f9f9 !important;*/
  }
  .color-primary{
    color: #7b3ab5;
  }
a{
  text-decoration: none !important;
}
.circle-plus{
      border: 2px solid;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 25px;
    line-height: 12px;
    font-weight: 800;
}

.div-hight-fix{

    height: 500px;
    overflow-y: auto;

}
.main-div{
     background: whitesmoke;
    justify-content: space-between;
    display: flex;
    margin-bottom: 8px;
    padding: 4px 20px;
    align-items: end;
    border: 1px solid #f1efef;
    border-radius: 6px;
    font-family: sans-serif;
}
.time{
    color: #8e8e8e;
    margin-top: 5px;
    font-size: 12px;
}

.h-flex{
    justify-content: space-between;
    display: flex;
    margin-bottom: 8px;
    background: #ffc56f; 
    padding: 10px;
}

thead input {
        width: 100%;
    }

.style-radio{
    background: #eaeaea !important;
    line-height: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    padding: 9px;
    border: 1px solid #dadada;
    }

    .style-radio input{
      
      background: black;
      width: 50px;
      margin: auto;
    }

    .mainDiv{
      background: red1;
    }

    .display_inline{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
 .display_inline .hight{
      height: 100px;
      /*width: 100px;*/
      background: #81D4FA;
      text-align: center;
    }

    .red{
        background: #3f3e8b;
    color: aliceblue;
    }
        
    .green{background: red;}

    .bg-white{
    background-color: #fff!important;
    
  }
  .text-center {
    text-align: center!important;
   padding: 10px;
}
.bg-light {
    background-color: #fff!important;
}
.card-img-top{

width:100%;

  }
  .card-body {
    -ms-flex: 1 1 auto;
    display: inline;
    /* flex: 1 1 auto; */
    /* min-height: 1px; */
    /* padding: 1.25rem; */
}
.card-text{
  width:100%;
}
.card-title{
width:100%;
}
.gray-bg{
   background: #ccc;
    bottom: 0;
    left: 0;
    /*position: absolute;*/
    width:100%;
  }
.inner-content
{
  width: 40%;
  margin: 0 auto;
}
@media all and (max-width: 600px) and (min-width: 300px) {
  .col-sm-4 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 100% !important;
  }
.inner-content
  {
    width: 100%;
    margin: 0 auto;
  }
}
.brdr{
  border: solid 1px #000;
}
.footer-box
{
  background: #222222;
  font-weight: bold;
}
.footer-abs{
  margin-top: 70px;
  position: absolute;
  top: 100%;
}
.footer-bootom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.shadow-box{
  -webkit-box-shadow: -11px 10px 5px -9px rgba(138,138,138,1);
-moz-box-shadow: -11px 10px 5px -9px rgba(138,138,138,1);
box-shadow: -11px 10px 5px -9px rgba(138,138,138,1);
}
.logo img
{
  max-width: 100%;
}
.tab-content{
  background: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.btn-primary {
    color: #fff;
    background-color: #0078d7;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link{
    font-weight: bold;
}
.nav-tabs{
  border: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
}
.nav-tabs .nav-link{
  border: none;
}
.nav-link, .nav-link:hover{
  color: #797979;
}
.btn-primary{
  border-radius: 50px;
}
.box-radius{
  border-radius: 15px;
}
.nav-link.tab-left{
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}
.nav-link.tab-right{
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}
.session-text{
  font-weight: bold;
  margin:0px;
  padding:0px;
}
.footer-box p{
  color:#fff;
}
.upload_file{
    position: relative;
    display: inline-block;
    padding: 8px;
    margin-top: 2px;
    background: #c3c2c2;
    font-weight: bold;
}
.upload_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
    cursor: pointer;
}
.header-1{
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
}
.text-blue{
  color: #0078d7;
}
.bg-pink{
  background-color: #fff0db;
}
.sideForm{
  margin-left: 15px;
  margin-right: 15px;
  background: #fff;
  margin-top: 15px;
}
.brdr-radius-15{
  border-radius: 15px;
}
.heading-box{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #0078d7;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  cursor: pointer;
}
.loader p{
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
  color: #fff;
  font-size: 30px;
}
.font-16{
  font-size: 16px;
}
.query{
  height: 100px !important;
}
.ol-style{
  padding-left: 20px;
}
.ol-style li{
  margin-right: 20px;
}

.ol-style li input{
  float: right !important;
}
.page-link:focus{
  box-shadow: none !important;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*****Poll**********/
.poll-result {
      display: flex;
      flex-flow: column;
}
.poll-result .poll-question {
      padding-bottom: 10px;
}
.poll-result .poll-question p {
      margin: 0;
      padding: 5px 0;
}
.poll-result .poll-question p span {
      font-size: 14px;
}
.poll-result .poll-question .result-bar {
      display: flex;
      height: 25px;
      min-width: 35px;
      background-color: #38b673;
      border-radius: 5px;
      font-size: 14px;
      color: #FFFFFF;
      justify-content: center;
      align-items: center;
}
.result-bar label{
  margin-bottom: 0px;
}
.poll-question li{
  width: 100%;
}
/*****Poll End******/
.iframe_wrapper iframe{
  max-width: 100%;
  width: 100%;
}
.header-banner{
  text-align: center;
}
.header-banner img{
  max-height: 150px;
  max-width: 100%;
  overflow: hidden;
}